wheel==0.45.1
setuptools==80.9.0
typing-extensions==4.15.0


Django==5.2.5
djangorestframework==3.16.1
django-cors-headers==4.7.0
python-dotenv>=1.1.1
whitenoise>=6.6.0
gunicorn>=23.0.0

pymongo>=4.5
psycopg==3.2.10  # for Postgres if used


google-genai>=1.36.0
google-generativeai>=0.8.5
httpx>=0.28.1
pydantic>=2.11.7
tenacity>=9.1.2


requests>=2.32.5
pillow>=11.3.0
psycopg2>=2.9.10 
boto3>=1.40.37
djangorestframework_simplejwt>=5.5.1
openpyxl>=3.1.5
torch
torchvision
opencv-python>=4.12.0.88
